{% extends 'core/base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="">
                <h3 class="text-center text-success">Payment Successful</h3>
                <div class="card-body">
                    <p class="text-center">
                        Your payment has been successfully processed. Below is your invoice:
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>INVOICE NO</th>
                                    <th>Item</th>
                                    <th>Status</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in ordered_items %}
                                <tr>
                                    <td>{{order.Invoice}}</td>
                                    <td>{{i.item}}</td>
                                    <td>{{order.order_status|title}}</td>
                                    <td>{{i.quantity}}</td>
                                    <td>${{i.price}}</td>
                                    <td>${{i.item.price_after_discount}}</td>
                                </tr>
                                {%endfor%}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-end">Subtotal</td>
                                    <td>${{order.order_price}}</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">Tax</td>
                                    <td>Nil</td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-end">Total</td>
                                    <td>${{order.order_price}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="justify-content-between d-flex">
                        <a href="{% url 'core:home' %}" class="btn btn-block btn-success">Continue Shopping</a>
                        <a href="" class="btn btn-block btn-success">Download Invoice((!))</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}